<template>
    <div class="page" data-name="detail">
        <div class="navbar no-hairline">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a class="link back">
                        <i class="f7-icons">arrow_left</i>
                    </a>
                </div>
                <div class="title">Category</div>
            </div>
        </div>
        <div class="page-content">
            <section class="section-filter block">
                <div class="searchbar searchbar-inline">
                    <div class="searchbar-input-wrap">
                        <input type="text" placeholder="Search app" />
                        <i class="searchbar-icon"></i>
                        <div class="input-clear-button"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="card demo-card-header-pic">
                    <div style="background-image:url(../assets/images/category/perikanan.png)"
                      class="card-header align-items-flex-end">Perikanan</div>
                  </div>
                  <div class="card demo-card-header-pic">
                    <div style="background-image:url(../assets/images/category/industri.png)"
                      class="card-header align-items-flex-end">Industri</div>
                  </div>
                  <div class="card demo-card-header-pic">
                    <div style="background-image:url(../assets/images/category/pertanian.png)"
                      class="card-header align-items-flex-end">Pertanian</div>
                  </div>
            </section>
        </div>
    </div>
</template>

<style>
    .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}
</style>