<!-- Your main view, should have "view-main" class -->
<div class="page" data-name="explore">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
            <div class="left">
                <a class="link back">
                    <i class="f7-icons">arrow_left</i>
                </a>
            </div>
            <div class="title">Explore</div>
        </div>
    </div>
    <div class="page-content">

       
    </div>
</div>