<template>
    <div class="page">
        <div class="navbar navbar-transparent">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title"></div>
            </div>
        </div>
        <div class="page-content login-screen-content ">
            <div class="login-screen-title no-margin-bottom">Selamat Datang!</div>
            <div class="block-footer">
                <p>Masuk Ke Akun Anda</p>
            </div>
            <form>
                <div class="list">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Email address</div>
                                <div class="item-input-wrap">
                                    <input type="email" name="email" placeholder="Enter Your email" />
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Password</div>
                                <div class="item-input-wrap">
                                    <input type="password" name="password" placeholder="Enter your password" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <button class="button button-large button-fill btn-bg-green">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</template>