<template>
  <div class="page" data-name="post">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="f7-icons">arrow_left</i>
            <span class="if-not-md"></span>
          </a>
        </div>
        <div class="title">Post</div>
      </div>
    </div>

    <div class="page-content">
      <section class="section-filter">
        <div class="appbar">
          <div class="appbar-inner">
            <div class="left">
              <div class="searchbar searchbar-inline">
                <div class="searchbar-input-wrap">
                  <input type="text" placeholder="Search app" />
                  <i class="searchbar-icon"></i>
                  <div class="input-clear-button"></div>
                </div>
              </div>
            </div>
            <div class="right">
              <a class="button smart-select smart-select-init display-flex button-sort" data-open-in="sheet">
                <i class="f7-icons">slider_horizontal_3</i>
                <select name="mac-windows">
                  <option value="" selected>Item 1</option>
                  <option value="">Item 2</option>
                  <option value="">Item 3</option>
                  <option value="">Item 4</option>
                  <option value="">Item 5</option>
                </select>
              </a>
             
            </div>
          </div>
        </div>

      </section>
      <section class="section-post block">
        <div class="list media-list no-margin-top no-margin-bottom">
          <ul class="bg-transparent" id="posts">
            ${products.value.map((item) => $h`
            <li>
              <a href="#" class="item-link item-content no-padding">
                <div class="item-media">
                  <img src="${item.IMAGE.ORIGIN}" class="img-fluid" width="100" />
                </div>
                <div class="item-inner">
                  <div class="item-title-row no-padding-right">
                    <div class="item-subtitle">${item.CATEGORY_NAME}</div>
                    <div class="item-after icon"><i class="f7-icons">bookmark</i></div>
                  </div>
                  <div class="item-title">${item.NAME_PRODUCT}</div>
                  <div class="item-title-row no-padding-right meta">
                    <div class="item-text author">${item.PRICE}</div>
                    <div class="item-after icon review"><i class="f7-icons">star_fill</i>
                      <span>4.9</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            `)}
          </ul>
        </div>
      </section>
      
    </div>
  </div>
</template>
<script>
  export default (props, { $store, $f7, $on }) => {
    // retrieve "products" getter handler value. Initially empty array
    const products = $store.getters.products;
    $f7.preloader.show();
    $on('pageInit', () => {
      // load products on page init
      $f7.preloader.show();
      setTimeout(function () {
        $store.dispatch('getProducts');
        $f7.preloader.hide();
      }, 1000);
    });

    return $render;
  }

  
</script>