<template>
  <div class="page" data-name="detail">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a class="link back">
            <i class="f7-icons">arrow_left</i>
          </a>
        </div>
        <div class="title">Detail</div>
      </div>
    </div>
    <div class="page-content">
     
    </div>
  </div>
</template>

<script>
  export default (props) => {
    let product = props.product;
    console.log(product);
    return $render;
  }

</script>