<template>
    <div class="page" data-name="profile">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a class="link back">
                        <i class="f7-icons">arrow_left</i>
                    </a>
                </div>
                <div class="title">Profile</div>
            </div>
        </div>
        <div class="page-content">
            <div class="profile-image">
            </div>
            <div class="list media-list chevron-center">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Downloaded Course</div>
                                </div>
                                <div class="item-subtitle text-color-gray">6 Kelas</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Saved Course</div>
                                </div>
                                <div class="item-subtitle text-color-gray">4 Kelas</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Playlist</div>
                                </div>
                                <div class="item-subtitle text-color-gray">Playlist Disimpan</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list media-list chevron-center">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Bantuan Anda</div>
                                </div>
                                <div class="item-subtitle text-color-gray">Lorem Ipsum Dolor Sit</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block">
                <button class="col button button-outline color-red padding">Logout</button>
            </div>
        </div>
    </div>
</template>