<div class="page" data-name="splash">

    <div class="page-content">
        <section class="section-splash block text-align-center">
            <div class="splash-image">
                <img src="../assets/images/logo.png" class="img-fluid" alt="">
            </div>
            <div class="splash-text margin-vertical">
                <h1 class="title">Selamat Datang !</h1>
                <p>Aplikasi Online Video Platform</p>
                <p>Akademi Desa <span>4.0</span></p>
            </div>

            <div class="splash-button">
                <div class="block">
                    <a class="button button-fill btn-bg-green" href="/login/">Sign in</a>
                    <div class="margin-vertical"></div>
                    <a class="button button-fill color-white text-color-black border-light" href="#">Sign up</a>
                </div>
            </div>

        </section>

    </div>
</div>