/* Your app custom styles here */
:root {
    --green: #219653;
}

* {
    font-family: 'Poppins', sans-serif;
}

.navbar-bg{
    background-color: transparent;
}
.navbar-bg:before {
    display: none;
}

/* ================= Shortcut ================= */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.text-green {
    color: var(--green) !important;
}

.btn-bg-green,
.bg-green {
    background-color: var(--green) !important;
}

.border-light {
    border: 1px solid #EEEEEE;
}

/* ================= Section Filter ================= */
.section-filter.primary {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
}

.section-filter.primary .appbar,
.section-filter .appbar {
    background-color: transparent;
    backdrop-filter: none;
}

.section-filter.primary .appbar .searchbar.searchbar-inline {
    backdrop-filter: none;
}

.section-filter.primary .appbar .searchbar.searchbar-inline .searchbar-input-wrap {
    height: 50px;
}

.section-filter.primary .searchbar.searchbar-inline input[type=search],
.section-filter.primary .searchbar.searchbar-inline input[type=text] {
    border-radius: 85px;
}

.section-filter .searchbar.searchbar-inline input[type=search],
.section-filter .searchbar.searchbar-inline input[type=text] {
    background-color: #F4F6F9;
    border-radius: 16px;
}

.section-filter.primary .button-sort {
    color: #FFF;
    background-color: transparent;
    backdrop-filter: none;
}

.section-filter .button-sort {
    color: #2E3A59;
}

/* ================= Hero Slide ================= */
.swiper .hero-banner {
    position: relative;
}

.swiper .hero-banner .hero-text {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 80%;
}

.swiper .hero-banner .hero-text .title {
    color: #FFF;
    font-size: 28px;
}

.swiper .hero-banner .hero-text .author {
    color: #FFF;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.swiper .hero-banner .hero-text .meta {
    color: #FFF;
    display: flex;
    align-items: center;
    position: relative;
}

.swiper .hero-banner .hero-text .meta:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 26%;
    width: 2px;
    height: 20px;
    background: #FFF;
}

.swiper .hero-banner .hero-text .meta .review {
    margin-left: 1rem;
}

.swiper .hero-banner .hero-text .meta .review i {
    color: #FFBD35;
    font-size: 18px;
    margin-right: .5rem;
}

.swiper .hero-banner .hero-text .meta .review span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* ================= Category Slide ================= */
.swiper .box-category {
    position: relative;
}

.swiper .box-category .box-image {
    position: relative;
}

.swiper .box-category .box-image img {
    border-radius: 10px;
}

.swiper .box-category .box-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

.swiper .box-category .box-content .title {
    color: #FFF;
}

/* ================= Recommendation ================= */
.section-recommendation .list ul:before,
.section-recommendation .list ul:after {
    background-color: transparent !important;
}

.section-recommendation .media-list .item-media img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.section-recommendation .media-list .item-link .item-title-row:before {
    display: none;
}

.section-recommendation .item-after.icon i {
    color: #3E3E3E;
}

.section-recommendation .item-after.icon.review i {
    color: #FFBD35;
    font-size: 18px;
}

.section-recommendation .list .item-title {
    overflow: auto;
    text-overflow: unset;
    white-space: unset;
    font-size: 14px;
}

.section-recommendation .item-title-row.meta {
    margin-top: 10px;
}

.section-recommendation .item-text.author {
    font-size: 12px;
}

.section-recommendation .item-after.icon.review span {
    font-size: 12px;
}



/* ================= Post ================= */
.section-post .list ul:before,
.section-post .list ul:after {
    background-color: transparent !important;
}

.section-post .media-list .item-media img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.section-post .media-list .item-link .item-title-row:before {
    display: none;
}

.section-post .item-after.icon i {
    color: #3E3E3E;
}

.section-post .item-after.icon.review i {
    color: #FFBD35;
    font-size: 18px;
}

.section-post .list .item-title {
    overflow: auto;
    text-overflow: unset;
    white-space: unset;
    font-size: 14px;
}

.section-post .item-title-row.meta {
    margin-top: 10px;
}

.section-post .item-text.author {
    font-size: 12px;
}

.section-post .item-after.icon.review span {
    font-size: 12px;
}

/* ================= Toolbar ================= */
.main-toolbar a i {
    color: #6B7580;
}